.row
  .col
    .card
      .card-header.text-center
        %h3= 'New Genre'
      .card-body
        = render 'form', genre: @genre
      .card-footer
        = link_to 'Back', genres_path, class: 'card-link'
