.row
  .col
    .card
      .card-header.text-center
        %h3= 'Edit Book'
      .card-body
        = render 'form', book: @book
      .card-footer
        = link_to 'Show', @book, class: 'card-link'
        = link_to 'Back', books_path, class: 'card-link'
